.leftside
{
    height: 100vh;
    width: 100%;
}

.rightside
{
height: 100vh;
    width: 100%;
}

.topbar1 , .topbar2
{
    height: 5vh;
    background-color: black;
    width: 100%;
}

.drop-down {
    width: 120px;
    border-radius: 7px;
    margin-right: 15px;
}

.ace-editor {
    height: 95%;
}


.output {
    height: 32px;
    width: 100px;
    background-color: grey;
    justify-content: center;
    color: white;
    border: 0;
    display: flex;
    margin-left: 15px;
    border-radius: 7px;
}

.run {
    height: 32px;
    width: 100px;
    background-color: green;
    justify-content: center;
    color: white;
    border: 0;
    display: flex;
    margin-right: 15px;
    border-radius: 7px;
}

.topbar1
{

}

.select, .button
{

    float: right;
}


@media only screen and (max-width: 768px) {
    .leftside , .rightside
        {
            height: 50vh;
            width: 100%;
        }
        .ace-editor {
            height: 90%;
        }

       
  }


